<div class="card bg-white text-white">
    <img src="/assets/images/img4.jpg" class="card-img" >
    <div class="card-img-overlay">
      <h1 class="card-title"> Welcome to Pecunia₹ </h1>
      <h2>your perfect banking partner</h2>
      <h4 class="card-text">Ever find yourself wishing for a bank that thinks, behaves and acts exactly like you would want it to ,<br> a partner so seamless and intuitive that is unlike any other. <br>Banking and technology rolled into one that it almost magically produces more time for you each day – to do more of things you love. <br>The Pecunia₹ is here.</h4>
     <br>
     <br>
     <br>
      <h4>We bring you a life of safety and quality, <br>
        without any of the anxiety.</h4>

        <br><br><br>
        <div class ="xyz">
         <img src = "/assets/images/img7.jpg" class="abc"><br><br><br><br>
        <h4>Pecunia₹ is designed to keep your money safe and your life worry-free.<br>We’ve taken the hassles of a third-party OTP away, and replaced it with our in-built safety features to help you enjoy a seamless and secure life.</h4>
     </div>
        <p class="card-text">Happy customers, Happy Us</p>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 2000px;">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/img6.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Investments</h1>
         <div class ="text"><h3>Mutual Fund</h3> </div>
          <p class="card-text">Whether it’s smarter savings, better investments, easy personal loans, international fund transfers - we are designed to help you live better. It’s so easy, it feels like magic!
            </p>
            <br>
            <h3>Get the Home Advantage With World-Class Features</h3>
         <img src ="/assets/images/img9.png" class ="img-fluid">
         <div class ="text"><h3><i>Types of mutual Funds we provide</i> </h3></div>
         <h4>Not sure where to invest? Too many choices, and even more doubts? If you think mutual fund investments are something made only for a few, it’s time to think again. Become your own investment expert with Us.</h4>
        <br>
         <img src ="/assets/images/img10.png" class ="img-fluid">
        </div>
      </div>
    </div>
  </div>
  
    




  
    