<h1 class="heading">
    Pecunia
    <span class="heading-bold">Loans</span>
  </h1>
    <div class="container">
     <p> At Pecunia Finance Limited, we believe your journey should continue without any speed bumps. This is why we bring you 
        customized Bank Loans at competitive interest rates. To get started,check your loan eligibility using our 
        simple loan calculators. You can submit your Bank Loan application
         online in three easy steps and avail the most attractive interest rates and comfortable repayment tenures.</p>
      <div class="loans-wrapper">
        <div class="loan">
          <div class="loan-data">
            <h3 class="loan-heading">
              Personal <span class="loan-light">Loan</span>
            </h3>
            <p class="loan-description">
            Live every dream with Pecunia's personal loans of up to Rs. 15 lakhs. It’s effortlessly easy to avail, giving you more time for life. Whatever your goal or requirement, we’re here to give you just what you need.
            </p>
            <a class="loan-explore" href="#">Explore more</a>
          </div>
          <div class="loan-buttons">
            <a href="#" class="loan-savings">Calculate Savings</a>
            <a href="#" class="loan-apply" routerLink = "/personalloanApplication" routerLinkActive = "active">Apply Online</a>
          </div>
        </div>
        <div class="loan">
          <div class="loan-data">
            <h3 class="loan-heading">
              Vehicle <span class="loan-light" >Loan</span>
            </h3>
            <p class="loan-description">Looking to buy a new car? Pecunia₹ Bank’s New Car Loan offers car loans from Rs. 1 Lakh upto 100% on-road price along with a host of benefits that include attractive interest rates, comfortable tenure, Pecunia Reward points, etc. Before applying for a car loan online, make sure to use the car loan calculator to find out your EMI. Apply for an Pecunia Bank New Car Loan and make your dream of owning a car come true.
            <br>
                -Funding upto 100% of ex-showroom price<br>
                -Repayment period upto 84 months<br>
                -Competitive interest rates<br>
                -Free Personal accident insurance upto Rs. 10.00 lakhs for individuals<br>
            </p>
          
          </div>
          <div class="loan-buttons">
            <a href="#" class="loan-savings">Calculate Savings</a>
            <a href="#" class="loan-apply" routerLink = "/vehicalloanApplication" routerLinkActive = "active">Apply Online</a>
          </div>
        </div>
        <div class="loan">
          <div class="loan-data">
            <h3 class="loan-heading">
              Housing <span class="loan-light">Loan</span>
            </h3>
            <p class="loan-description">
              Leverage against your property's value, fulfill your personal or professional needs and get flexible repayment options with Loan Against Property offers from Pecunia₹.
              An NRI home loan allows Non-Resident Indians to buy property in India with the flexibility of equated monthly instalments, flexible tenures and competitive interest rates.

              With Pecunia's Treasures NRI home loans, you can purchase your home in major Indian cities with ease
            </p>
            <a class="loan-explore" href="#">Explore more</a>
          </div>
          <div class="loan-buttons">
            <a href="#" class="loan-savings">Calculate Savings</a>
            <a href="#" class="loan-apply"  routerLink = "/housingloanApplication" routerLinkActive = "active">Apply Online</a>
          </div>
        </div>
        <div class="loan">
          <div class="loan-data">
            <h3 class="loan-heading">
              Jewel <span class="loan-light">Loan</span>
            </h3>
            <p class="loan-description">
              Have an urgent need for cash , Now you can use your gold to avail a Gold Loan starting from Rs. 25,001 upto Rs. 25,00,000. Pecunia₹ Bank Gold Loans provide loan against gold with same day loan disbursement. You can Apply for Gold Loan and get quick approvals by visiting your nearest Pecunia Bank Branch. 
            </p>
            <a class="loan-explore" href="#">Explore more</a>
          </div>
          <div class="loan-buttons">
            <a href="#" class="loan-savings">Calculate Savings</a>
            <a href="#" class="loan-apply" routerLink = "/goldloanApplication" routerLinkActive = "active">Apply Online</a>
          </div>
        </div>
