<div id="bg">
  <div class="module">
    <ul>
      <li class="tab activeTab"><img src="https://i.imgur.com/Fk1Urva.png" alt="" class ="icon"/></li>
    </ul>
    <form class ="form" [formGroup]="register" (ngSubmit)= "onRegister(register.value,FirstName.value,LastName.value,DOB.value)">
    
        
      <input type="text" placeholder="First Name" class="textbox" formControlName = "FirstName" #FirstName />
      <input type="text" placeholder="Last Name" class="textbox"  formControlName = "LastName" #LastName/>
     
      <input type="date" placeholder="Enter your date of birth" class="textbox"  formControlName = "DOB" #DOB/>
      <input type="email" id="email" placeholder="email@domain.com" class="textbox" formControlName = "email"/>
      <input type="phone" id="phone" name="phone" placeholder="enter your mobile number" class="textbox"  formControlName = "phone"/><br>
     <label class="gen" >Gender: </label>   <br>                
        <input class="gender" type="radio" name="gender" formControlName ="gender">Male
        <input class="gender" type="radio" name="gender" formControlName ="gender">Female
        <input type="text" placeholder="Enter your Nationality" class="textbox" formControlName = "Nationality"/>
        
      
      <input type="adharNo" placeholder="Enter Adhar card number" class="textbox" formControlName = "adharNo"/>
      <br>
      <label class="gen" >Account Type: </label>   <br>                
      <input class="gen" type="radio" name="gen" formControlName ="gen">Savings
     <input class="gen" type="radio" name="gen">Current
     <input class="gen" type="radio" name="gen">FD<br><br>
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
      <button type="submit" class ="btn btn-block login-btn" routerLinkActive="active" > sign up</button>
      
     <!-- <input  type="Submit" value="Sign Up"> [disabled]="!login.valid"-->
    
  </form>
  </div>
</div>

<a href="http://dribbble.com/shots/1265587-Registration-Template-PSD?list=everyone" target="_blank"></a>
         <!-- <label class="gen" >Account Type: </label>   <br>                
        <input class="ge" type="radio" name="gen">Savings
       <input class="ge" type="radio" name="gen">Current
       <input class="ge" type="radio" name="gen">FD<br><br> -->
      

