<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Pecunia₹ <span></span></div>
		</div>
		<br>
		<!--
        <div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login"> 
		</div>
		-->
	
		
<form>
			<div class ="login" >
				<input type="text" placeholder="username" name="user"  #userName /><br>
				<input type="password" placeholder="password" name="password" #pass  /><br>
      <button type="login"  routerLinkActive = "active" (click)="onSubmitForm(userName.value, pass.value)">Login</button>
				<!--  <input type="button" value="Login"  (click)="onSubmitForm(userName.value, pass.value)">  -->
				
		</div>
			
		   
		  </form>
		  
